<a href="https://colab.research.google.com/github/Ann-Sara/new/blob/main/slot1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num=int(input("enter a number:"))
if num %2==0:
	print(num, "is even.")
else:
	print(num, "is odd.")

enter a number:44
44 is even.

In [ ]:
n=5
print("start")
i=0
while (i<=n):
  i+=1
  if i==3:
    print("break")
    break
    print("hai")
  print(i, 'in while')
print ('end')

start
1 in while
2 in while
break
end

In [ ]:
n=5
print("start")
i=0
while (i<=n):
  i+=1
  if i==3:
    print("cintinue")
    continue
    print("hai")
  print(i, 'in while')
print ('end')

start
1 in while
2 in while
cintinue
4 in while
5 in while
6 in while
end

In [ ]:
if 5>10:
  pass
print('hai')

hai

In [ ]:
n=int(input('enter a number'))
i=2
while i<n:
  if n%i==0:
    print('not prime')
    break
  i+=1
else:
  print("prime")

enter a number7
prime

In [ ]:
name="Anna"
for i in name:
  print(i)

A
n
n
a

In [ ]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

for i in range (2,10,2):
  print(i)

In [ ]:
n=int(input("enter limit:"))
for i in range(1,n+1):
  print(i)

enter limit:4
1
2
3
4

In [ ]:
#sum of n numbers

n=int(input("enter numto sum:"))
s=0
for i in range(1,n+1):
  s=s+i
print(s)

enter numto sum:4
10

In [ ]:
#sum of even

n=int(input("enter numto sum:"))
s=0
for i in range(2,n+2,2):
  s=s+i
print(s)

enter numto sum:4
6

In [ ]:
#sum of odd

n=int(input("enter numto sum:"))
s=0
for i in range(1,n+1,2):
  s=s+i
print(s)

enter numto sum:4
4

In [ ]:
n=int(input("enter numto factorial:"))
p=1
for i in range(1,n+1):
  p=p*i
print(p)

enter numto factorial:3
6

In [ ]:
n=int(input("enter number:"))
for i in range (1,n+1):
  if n%i==0:
    print(i)

enter number:5
1
5

In [ ]:
n=int(input("enter the number:"))
for i in range (2,n):
  if n%i==0:
    print("not prime.")
    break
else:
  print("prime.")

enter the number:3
prime.

In [ ]:
#sum of factors

n=int(input("enter number:"))
s=0
for i in range (1,n+1):
  if n%i==0:
    s=s+i
print(s)

enter number:5
6

In [ ]:
#perfect or not

num=int(input("enter a number:"))
l=num
s=0
for i in range(1,num):
  if num%i==0:
    s=s+i
if s==l:
  print('number is perfect.')
else:
  print('number not perfect.')

enter a number:2
number not perfect.

In [ ]:
n=int(input("enter a number:"))
print(n)

enter a number:2
2

In [ ]:
n=int(input("enter a number:"))
a=0
b=1
print(a)
print(b)
for i in range(2,n+1):
  c=a+b
  print(c)
  a=b
  b=c

enter a number:5
0
1
1
2
3
5

In [ ]:
#0,1,1,2,3,5
n=int(input("enter number:"))
a=0
b=1
print(a)
print(b)
for i in range(2,n+1):
  c=a+b
  print(c)
  a=b
  b=c

enter number:4
0
1
1
2
3

In [ ]:
#Print all numbers between two numbers entered by the user.

a=int(input("enter a number:"))
b=int(input("enter b number:"))
i=0
if a<b:
  i=a+i
  while i<b:
    print(i)
    i+=1
elif a>b:
  i=b+i
  while i<a:
    print(i)
    i+=1
else:
  print('both number is equal.')

enter a number:4
enter b number:9
4
5
6
7
8

In [ ]:
a=int(input("enter a number:"))
a=a+1
while a%7!=0:
  a=a+1
print(a)

enter a number:65
70

In [ ]:
n=3
while n<50:
  print(n)
  n=n+3

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48

In [ ]:
n=4
while n<50:
  print(n)
  n=n+4

4
8
12
16
20
24
28
32
36
40
44
48

In [ ]:
n=1
while n<=100:
  if n%5==0 and n%10!=0:
    print(n)
  n=n+1

5
15
25
35
45
55
65
75
85
95

In [2]:
for i in range(1, 21):
  if i == 7 or i == 13:
    continue
  print(i)

1
2
3
4
5
6
8
9
10
11
12
14
15
16
17
18
19
20

In [19]:
n = int(input("Enter a number: "))
product = 1
for i in range(1, n + 1):
  product *= i
print("The product of numbers from 1 to", n, "is:", product)

Enter a number: 4
The product of numbers from 1 to 4 is: 24

In [3]:
n=4
for i in range(1,n+1):
  for j in range(1,n+1):
    print("*",end=" ")
  print()

* * * *
* * * *
* * * *
* * * *

In [4]:
n=4
for i in range(1,n+1):
  for j in range(1,n+1):
    print(i ,end=" ")
  print()

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [20]:
n=5
for i in range(n,0,-1):
  for j in range(n,0,-1):
    print(i ,end=" ")
  print()

5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1

In [16]:
n=5
for i in range(n,0,-1):
  for j in range(n,0,-1):
    print(j ,end=" ")
  print()

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [23]:
n=5
for i in range (1,n+1):
  for j in range(1,n+1):
    if j%2==0:
      print(1,end=" ")
    else:
      print(0,end=" ")
  print()

0 1 0 1 0
0 1 0 1 0
0 1 0 1 0
0 1 0 1 0
0 1 0 1 0